// COLORS ---------------------------------
$gray-main: 	#E8E9EA;
$gray-medium: #d8d8d8;
$gray-dark: 	#868686;

// LAYOUT ---------------------------------
body{
	background: $gray-main; 
}

.container{
	margin: auto;
	width: 1020px;
}

a.btn{
	background: url(../img/btn.png) no-repeat transparent;
	width: 105px;
	height: 26px;
	padding-top: 6px;
	display: inline-block;
	font-style: italic;
}

.layout-detail{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -10;

	&.left-bottom{
		background: url(../img/layout-detail-left-bottom.png) no-repeat;
		height: 550px;
		width: 570px;
		top: 201px;
	}

	&.right-top{
		background: url(../img/layout-detail-right-top.png) no-repeat;
		left: auto;
		right: 0px;
		top: 0px;
		width: 177px;
		height: 737px;
	}

	&.bar-bottom{
		background: #ECECEE;
		height: 62px;
		width: 90.98%;
		top: 665px;
		-webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.63);
		-moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.63);
		box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.63);
	}
}

.socials{
	position: absolute;
	right: 0px;
	top: 682px;
	background: #00c4a7;
	height: auto; 
	padding: 3px 20px;

	ul{
		list-style: none;
		margin: 0px;
		padding: 0px;

		li{
			float: left;
			margin-right: 5px;
		}
	}
}

// HEADER MAIN ----------------------------
header.main{
	background: url(../img/header-background.png) repeat-x transparent;
	height: 95px;

	figure{
		margin-left: 7.84%;
	}

	.bar{
		height: 30px;
		background: $gray-dark;
		position: absolute;
		top: 0px;

		&.left{
			left: 0px;
			width: 5.88%;
		}

		&.right{
			right: 0px;
			width: 77.74%;
		}
	}
}

// CONTENT --------------------------------

.content article{
	float: left;
	text-align: center;
	color: $gray-dark;
	font-size: 14px;
	min-height: 220px;
	margin-top: 68px;

	&.professional{
		padding-left: 109px;
		padding-right: 70px;
		width: 335px;
		border-right: 1px solid $gray-dark;
	}

	&.company{
		padding-left: 63px;
		padding-right: 83px;
		width: 359px;

		a.btn{
			margin-top: 20px;
		}
	}

	p{
		margin-top: 24px;
	}

	a.btn{
		color: $gray-dark;
		text-decoration: none;
		margin-top: 38px;

		&:hover{
			text-decoration: underline;
		}
	}
}

// FORM ------------------------------------
.content form{
	margin-top: 30px;
	float: left;
	margin-left: 378px;

	label{
		display: block;
		text-transform: uppercase;
		color: $gray-dark;
	}

	input[type=text], input[type=password]{
		width: 274px;
		border: 1px solid $gray-dark;
		color: $gray-dark;
		padding: 3px;
	}

	input[type=submit]{
		background: url(../img/btn.png) no-repeat transparent;
		width: 105px;
		height: 32px;
		padding-top: 0px;
		display: inline-block;
		font-style: italic;	
		border: none;
		font-size: 14px;
		text-transform: lowercase;
		color: $gray-dark;
	}
}