body {
  background: #e8e9ea; }

.container {
  margin: auto;
  width: 1020px; }

a.btn {
  background: url(../img/btn.png) no-repeat transparent;
  width: 105px;
  height: 26px;
  padding-top: 6px;
  display: inline-block;
  font-style: italic; }

.layout-detail {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -10; }
  .layout-detail.left-bottom {
    background: url(../img/layout-detail-left-bottom.png) no-repeat;
    height: 550px;
    width: 570px;
    top: 201px; }
  .layout-detail.right-top {
    background: url(../img/layout-detail-right-top.png) no-repeat;
    left: auto;
    right: 0px;
    top: 0px;
    width: 177px;
    height: 737px; }
  .layout-detail.bar-bottom {
    background: #ECECEE;
    height: 62px;
    width: 90.98%;
    top: 665px;
    -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.63);
    -moz-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.63);
    box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.63); }

.socials {
  position: absolute;
  right: 0px;
  top: 682px;
  background: #00c4a7;
  height: auto;
  padding: 3px 20px; }
  .socials ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .socials ul li {
      float: left;
      margin-right: 5px; }

header.main {
  background: url(../img/header-background.png) repeat-x transparent;
  height: 95px; }
  header.main figure {
    margin-left: 7.84%; }
  header.main .bar {
    height: 30px;
    background: #868686;
    position: absolute;
    top: 0px; }
    header.main .bar.left {
      left: 0px;
      width: 5.88%; }
    header.main .bar.right {
      right: 0px;
      width: 77.74%; }

.content article {
  float: left;
  text-align: center;
  color: #868686;
  font-size: 14px;
  min-height: 220px;
  margin-top: 68px; }
  .content article.professional {
    padding-left: 109px;
    padding-right: 70px;
    width: 335px;
    border-right: 1px solid #868686; }
  .content article.company {
    padding-left: 63px;
    padding-right: 83px;
    width: 359px; }
    .content article.company a.btn {
      margin-top: 20px; }
  .content article p {
    margin-top: 24px; }
  .content article a.btn {
    color: #868686;
    text-decoration: none;
    margin-top: 38px; }
    .content article a.btn:hover {
      text-decoration: underline; }

.content form {
  margin-top: 30px;
  float: left;
  margin-left: 378px; }
  .content form label {
    display: block;
    text-transform: uppercase;
    color: #868686; }
  .content form input[type=text], .content form input[type=password] {
    width: 274px;
    border: 1px solid #868686;
    color: #868686;
    padding: 3px; }
  .content form input[type=submit] {
    background: url(../img/btn.png) no-repeat transparent;
    width: 105px;
    height: 32px;
    padding-top: 0px;
    display: inline-block;
    font-style: italic;
    border: none;
    font-size: 14px;
    text-transform: lowercase;
    color: #868686; }
